Package: raspi-setup
Version: 0.2.5
Architecture: all
Maintainer: "Super" Nathan Weber <supernathansunshine@gmail.com>
Installed-Size: 17
Depends: whiptail, parted, lua5.1, triggerhappy
Section: unknown
Priority: extra
Homepage: https://github.com/super-nathan/raspi-setup
Description: Simple configuration for Raspberry Pi
