Source: raspi-setup
Section: unknown
Priority: extra
Maintainer: "Super" Nathan Weber <supernathansunshine@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Homepage: https://github.com/super-nathan/raspi-setup

Package: raspi-setup
Architecture: all
Depends: ${misc:Depends}, whiptail, parted, lua5.1, triggerhappy
Description: Simple configuration for Raspberry Pi
